<button ng-click='newPostClicked = !newPostClicked'>New post</button>

<form ng-show='newPostClicked'>
  <label for='title'>Title</label>
  <input type='text' ng-model='$ctrl.post.title' id='title'>

  <label for='author'>Author</label>
  <input type='text' ng-model='$ctrl.post.author' id='author'>

  <label for='body'>Body</label>
  <textarea ng-model='$ctrl.post.body' id='body'></textarea>

  <label for='imageURL'>Image URL</label>
  <input type='text' ng-model='$ctrl.post.imageURL' id='imageURL'>

  <button ng-click='$ctrl.addPost()'>Submit</button>

</form>

<section ng-repeat='post in $ctrl.posts'>

  <img ng-src='{{ post.imageURL }}'>
  <h3>{{ post.title }}</h3>
  <h4>{{ post.author }} {{ post.id }}</h4>
  <p>{{ post.body }}</p>
  <comments></comments>

</section>
